@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #888;
}

  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }

/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}

/* List */

ul {
  list-style: disc;
  padding-left: 1em;
}

  ul li {
    padding-left: 0.5em;
  }

ol {
  list-style: decimal;
  padding-left: 1.25em;
}

  ol li {
    padding-left: 0.25em;
  }

/* footer */
#footer {
  margin-left: 375px;
  text-align: center;
  background-color: #dce3e2;
  padding: 3em 0 4em 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  font-size: 0.8em;
}

/* Main */

#main {
  margin-left: 375px;
}

  #main > section {
    margin: 0;
    overflow: hidden;
    padding: 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    text-align: center;
    background-image: url("images/overlay.png");
  }


/* Narrower */

#headerToggle {
  display: none;
}


/* MEDIA Querys */

@media screen and (min-width: 961px) and (max-width: 1880px) {

  .container {
    width: 1200px;
  }
	/* Basic */

  body, input, textarea, select {
    font-size: 17pt;
  }

/* Header */

  #header {
    width: 300px;
  }

/* Footer */

  #footer {
    margin-left: 300px;
  }

/* Main */

  #main {
    margin-left: 300px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1620px) {

  .container {
    width: 960px;
  }

		/* Main */

    #main > section {
      padding: 3em 0;
    }

    #main section.cover {
      padding: 5em 0;
    }

}

@media screen and (min-width: 961px) and (max-width: 1320px) {

  .container {
    width: 100%;
  }
  /* Basic */

  body, input, textarea, select {
    font-size: 16pt;
  }

  .container {
    padding: 0 2em 0 2em;
  }
  /* Header */

  #header {
    width: 20%;
  }
  /* Footer */

  #footer {
    margin-left: 20%;
  }

  /* Main */

  #main {
    margin-left: 20%;
  }

}


@media screen and (max-width: 960px) {

  .container {
    width: 100%;
  }
  /* Basic */

  html, body {
    overflow-x: hidden;
  }

  body, input, textarea, select {
    font-size: 16pt;
  }

  header br {
    display: none;
  }

  .container {
    padding: 0 2em 0 2em;
  }
  /* Footer */

  #footer {
    margin-left: 0;
  }

}

@media screen and (max-width: 736px) {

  .container {
    width: 100%;
  }
  body, input, textarea, select {
    font-size: 14pt;
  }

  h2 {
    font-size: 1.5em;
    letter-spacing: 0;
    font-weight: 300;
  }

  .container {
    padding: 0 15px 0 15px;
  }
  /* List */

  ul.icons a {
    width: 2em;
    font-size: 1.25em;
  }

/* Main */

  #main > section {
    padding: 2em 0;
  }

  #main section.cover {
    padding: 4em 0em;
  }

    #main section.cover header {
      padding: 0 1em;
    }

/* Footer */

  #footer .copyright li {
    display: block;
    line-height: 1.25em;
    border: 0;
    padding: 0;
    margin: 1em 0 0 0;
  }

    #footer .copyright li:first-child {
      margin-top: 0;
    }
}
